
body
{
width: 480px;
margin: 0 auto;
background-color: burlywood;
}

.controller{
    background-color: white;
}

.subtitle{
    color: whitesmoke;
    font-size: 20px;
    }
    
.title{
    color: whitesmoke;
    font-size: 30px;
}

#output{
    width: 480px;
    min-height: 100px;

}