
body
{
font-family: 'BMEULJIRO';
}

.container {
width: 100%;
height:100%;
text-align: center;
background: url('imgs/camouflage.jpg');
background-repeat: repeat;
}
.container::after{
    width: 100%;
    height:100%;
    content: "";
    background: url('imgs/camouflage.jpg');
    background-repeat: cover;
    position: absolute;
    top: 0;
    left: 0;   
    z-index: -1;
    opacity:0.4;
}
@font-face { font-family: 'MapoGoldenPier'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoGoldenPierA.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face { 
    font-family: 'BMEULJIRO'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

.centered { 
    display: table; margin-left: auto; margin-right: auto; 
} 

.rightwarded { 
    display: table; margin-left: auto; margin-right: 0; 
} 

.btn{
    background-color: whitesmoke;
    color: black;
}

.counter{
    font-family: 'MapoGoldenPier';
    color:whitesmoke;
}

.controller{
    background-color: whitesmoke;
    text-align: center;
}

.subtitle{
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
}
    
.title{
    color: whitesmoke;
    font-size: 30px;
    font-family: 'BMEULJIRO';
    text-align: center;
}

#output{
    min-height: 100px;
    font-family: 'MapoGoldenPier';
}